@import url(_variables.scss);

.faqHeader {
  margin-top: 5px;
  font-size: 27px;
  font-family: $font-family;
}
.panel-heading [data-toggle="collapse"]:after {
  font-family: $font-family;
  content: "\e072"; /* "play" icon */
  float: right;
  color: $orage--color;
  font-size: 18px;
  line-height: 22px;
  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.panel-heading [data-toggle="collapse"].collapsed:after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: $gris--color;
}
