import *,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

.block__supplies__total {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

.block__supplies__products {
  margin-top: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

figure.card {
  position: relative;
  width: 400px;
  height: 300px;
  background-image: var(--image-src);
  background-position: 50% 50%;
  background-size: 125%;
  -webkit-transition: background 400ms ease;
  transition: background 400ms ease;
  -webkit-box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.03), 0 22.3px 17.9px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.03), 0 22.3px 17.9px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

figure.card:hover figcaption {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

figure.card--1:hover {
  background-position: 50% 100%;
}

figure.card--1 figcaption {
  bottom: 0;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
}

figure.card--2 {
  background-size: 110%;
}

figure.card--2:hover {
  background-position: 50% 100%;
}

figure.card--2 figcaption {
  top: 0;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}

figure.card--3 {
  background-size: 115%;
}

figure.card--3:hover {
  background-position: -100% 50%;
}

figure.card--3 figcaption {
  left: 0;
  -webkit-transform: translateX(-180px);
          transform: translateX(-180px);
}

figure.card--4:hover {
  background-position: 100% 50%;
}

figure.card--4 figcaption {
  right: 0;
  -webkit-transform: translateX(180px);
          transform: translateX(180px);
}

figure.card--1 figcaption, figure.card--2 figcaption {
  width: 100%;
  height: 80px;
  padding: 15px 20px;
}

figure.card--3 figcaption, figure.card--4 figcaption {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 180px;
  height: 100%;
  padding: 20px 15px;
}

figure.card figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background: #f25a37;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

figure.card figcaption .info {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

figure.card figcaption .info h5 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 2px;
}

figure.card figcaption .info span {
  color: white;
  font-size: 0.85rem;
}

.btn_suppli {
  cursor: pointer;
  margin-top: 7.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #f25a37;
  background-color: white;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15px;
}

.btn_suppli:hover {
  background-color: white;
}

.btn_suppli:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media only screen and (max-width: 900px) {
  .block__supplies__total {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .block__supplies__products {
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 40px;
    padding: 80px 0;
  }
}
/*# sourceMappingURL=supplies.css.map */